#cookies-eu-banner {
  background: var(--base);
  color: var(--text);
  padding: 6px;
  font-size: 13px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
#cookies-eu-banner.before-removal-fade-out {
  opacity: 0;
}
#cookies-eu-more,
#cookies-eu-accept,
#cookies-eu-reject {
  text-decoration: none;
  background: var(--glare);
  color: var(--text);
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: bold;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
  -webkit-box-shadow: 0 0.625em 1.875em var(--shade);
  -moz-box-shadow: 0 0.625em 1.875em var(--shade);
  box-shadow: 0 0.625em 1.875em var(--shade);
}
#cookies-eu-more {
  border: 2px solid var(--ui2);
}
#cookies-eu-accept {
  border: 1px solid rgb(0, 255, 0);
}
#cookies-eu-reject {
  border: 1px solid rgb(255, 0, 0);
}
#cookies-eu-more:hover,
#cookies-eu-more:focus,
#cookies-eu-accept:hover,
#cookies-eu-accept:focus,
#cookies-eu-reject:hover,
#cookies-eu-reject:focus {
  background: var(--text);
  color: var(--glare);
}
#cookies-eu-more {
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#cookies-eu-reject {
  background: none;
  font-weight: normal;
  color: var(--text);
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
}

#cookies-eu-reject {
  color: #ffffff;
  background-color: #a80000;
}

#cookies-eu-accept {
  color: #ffffff;
  background-color: #006000;
}
