<h1>Cookie policy</h1>
<p>
  This cookie policy (“Policy”) describes what cookies are and how and
  they&#039;re being used by the
  <a
    target="_blank"
    rel="noreferrer noopener external nofollow"
    href="https://otgt.us.eu.org"
    >otgt.us.eu.org</a
  >
  website (“Website” or “Service”) and any of its related products and services
  (collectively, “Services”). This Policy is a legally binding agreement between
  you (“User”, “you” or “your”) and this Website operator (“Operator”, “we”,
  “us” or “our”). If you are entering into this agreement on behalf of a
  business or other legal entity, you represent that you have the authority to
  bind such entity to this agreement, in which case the terms “User”, “you” or
  “your” shall refer to such entity. If you do not have such authority, or if
  you do not agree with the terms of this agreement, you must not accept this
  agreement and may not access and use the Website and Services. You should read
  this Policy so you can understand the types of cookies we use, the information
  we collect using cookies and how that information is used. It also describes
  the choices available to you regarding accepting or declining the use of
  cookies. For further information on how we use, store and keep your personal
  data secure, see our
  <a
    target="_blank"
    rel="noreferrer noopener external nofollow"
    href="https://otgt.us.eu.org/privacy-policy.html"
    >privacy policy</a
  >.
</p>
<div class="wpembed-index">
  <h3>Table of contents</h3>
  <ol class="wpembed-index">
    <li><a href="#what-are-cookies">What are cookies?</a></li>
    <li>
      <a href="#what-type-of-cookies-do-we-use"
        >What type of cookies do we use?</a
      >
    </li>
    <li>
      <a href="#what-are-your-cookie-options">What are your cookie options?</a>
    </li>
    <li><a href="#changes-and-amendments">Changes and amendments</a></li>
    <li><a href="#acceptance-of-this-policy">Acceptance of this policy</a></li>
    <li><a href="#contacting-us">Contacting us</a></li>
  </ol>
</div>
<h2 id="what-are-cookies">What are cookies?</h2>
<p>
  Cookies are small pieces of data stored in text files that are saved on your
  computer or other devices when websites are loaded in a browser. They are
  widely used to remember you and your preferences, either for a single visit
  (through a &quot;session cookie&quot;) or for multiple repeat visits (using a
  &quot;persistent cookie&quot;).
</p>
<p>
  Session cookies are temporary cookies that are used during the course of your
  visit to the Website, and they expire when you close the web browser.
</p>
<p>
  Persistent cookies are used to remember your preferences within our Website
  and remain on your desktop or mobile device even after you close your browser
  or restart your computer. They ensure a consistent and efficient experience
  for you while visiting the Website and Services.
</p>
<p>
  Cookies may be set by the Website (&quot;first-party cookies&quot;), or by
  third parties, such as those who serve content or provide advertising or
  analytics services on the Website (&quot;third party cookies&quot;). These
  third parties can recognize you when you visit our website and also when you
  visit certain other websites.
</p>
<h2 id="what-type-of-cookies-do-we-use">What type of cookies do we use?</h2>
<h3>Necessary cookies</h3>
<p>
  Necessary cookies allow us to offer you the best possible experience when
  accessing and navigating through our Website and using its features. For
  example, these cookies let us recognize that you have created an account and
  have logged into that account to access the content.
</p>
<h3>Functionality cookies</h3>
<p>
  Functionality cookies let us operate the Website and Services in accordance
  with the choices you make. For example, we will recognize your username and
  remember how you customized the Website and Services during future visits.
</p>
<h3>Analytical cookies</h3>
<p>
  These cookies enable us and third party services to collect aggregated data
  for statistical purposes on how our visitors use the Website. These cookies do
  not contain personal information such as names and email addresses and are
  used to help us improve your user experience of the Website.
</p>
<h2 id="what-are-your-cookie-options">What are your cookie options?</h2>
<p>
  If you don’t like the idea of cookies or certain types of cookies, you can
  change your browser’s settings to delete cookies that have already been set
  and to not accept new cookies. Visit
  <a
    target="_blank"
    rel="noreferrer noopener external nofollow"
    href="https://www.internetcookies.com"
    >internetcookies.com</a
  >
  to learn more about how to do this.
</p>
<h2 id="changes-and-amendments">Changes and amendments</h2>
<p>
  We reserve the right to modify this Policy or its terms related to the Website
  and Services at any time at our discretion. When we do, we will revise the
  updated date at the bottom of this page. We may also provide notice to you in
  other ways at our discretion, such as through the contact information you have
  provided.
</p>
<p>
  An updated version of this Policy will be effective immediately upon the
  posting of the revised Policy unless otherwise specified. Your continued use
  of the Website and Services after the effective date of the revised Policy (or
  such other act specified at that time) will constitute your consent to those
  changes.
</p>
<h2 id="acceptance-of-this-policy">Acceptance of this policy</h2>
<p>
  You acknowledge that you have read this Policy and agree to all its terms and
  conditions. By accessing and using the Website and Services you agree to be
  bound by this Policy. If you do not agree to abide by the terms of this
  Policy, you are not authorized to access or use the Website and Services. This
  cookie policy was created with the help of
  <a target="_blank" href="https://www.websitepolicies.com">WebsitePolicies</a>.
</p>
<h2 id="contacting-us">Contacting us</h2>
<p>
  If you have any questions, concerns, or complaints regarding this Policy or
  the use of cookies, we encourage you to contact us using the details below:
</p>
<p>
  <a
    target="_blank"
    rel="noreferrer noopener external nofollow"
    href="https://otgt.us.eu.org/contact.html"
    >https://otgt.us.eu.org/contact.html</a
  ><br /><a
    href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#101;&#109;a&#105;l&#64;&#111;&#116;g&#116;.us&#46;&#101;&#117;&#46;or&#103;"
    target="_blank"
    rel="nofollow"
    >&#101;ma&#105;&#108;&#64;&#111;&#116;g&#116;&#46;us.&#101;u&#46;&#111;&#114;g</a
  >
</p>
<p>This document was last updated on August 13, 2022</p>
<p class="madewith">
  <img
    width="200"
    height="25"
    alt="Made with WebsitePolicies"
    srcset="https://cdn.websitepolicies.io/img/badge_2x.png 2x"
    src="https://cdn.websitepolicies.io/img/badge.png"
  />
</p>
